.catalog {
  width: 760px;
  outline: 1px solid;
}
.catalog__title {
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.catalog__sort {

}
.catalog__sort-item {

}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
}
.catalog__card {
  position: relative;
  width: 360px;
  height: 616px;
  margin-right: 40px;
  margin-bottom: 36px;
  background-color: #e9e9e9;
}
.catalog__card:nth-child(2n) {
  margin-right: 0;
}
.catalog__card-marker {
  display: block;
  width: 14px;
  height: 14px;
  margin: 13px 16px;
  margin-right: 8px;
  background-color: #ffffff;
  border-radius: 50%;
}
.catalog__card-img {
  display: none;
}
.catalog__card-info {
  position: absolute;
  bottom: 0;
  width: 360px;
  padding: 30px 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: #eeeeee;
  outline: 1px solid;
}
.catalog__card-title {
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.catalog__card-descr {
  display: block;
  width: 200px;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  line-height: 18px;
  color: #666666;

  &--pink {
    width: 240px;
  }

  &--aplus {
    width: 240px;
  }

  &--kvast {
    width: 240px;
  }
}
.catalog-btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 15px 0;
  font-weight: 500;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}
